<% @page_title = "All Sections"%>
<%= link_to("<<Back to Pages", pages_path(:subject_id => @page.subject_id), :class => "back-link")%>

<div class="sections index">
    <h2>Sections</h2>
    <%= image_tag("plus_sign.png", size: "11x11", alt: "+")%>
    <%=link_to("Create Section", new_section_path, :class => "action new")%>

        <table class="listing" summary="Section List">
            <tr class="header">
                <th>#</th>
                <th>Section</th>
                <th>Visible</th>
                <th>Actions</th>
            </tr>
            <%@sections.each{ |section|%>
                <tr>
                <td><%=section.position%></td>
                <td><%=section.name%></td>
                <td class="center"><%=status_tag(section.visible)%></td>
                <td class="actions">
                    <%=link_to("Show", section_path(section, :page_id => @page.id), :class=>"action new") %>
                    <%=link_to("Edit", edit_section_path(section, :page_id => @page.id), :class=>"action edit") %>
                    <%=link_to("Delete", delete_section_path(section, :page_id => @page.id), :class=>"action delete") %>
                </td>
            </tr>
        <%}%>
    </table>
</div>

