
<%= link_to("<<Back to Subjects", subjects_path, :class => "back-link")%>

<div class="pages index">
    <h2>Pages</h2>
    <%= image_tag("plus_sign.png", size: "11x11", alt: "+")%>
    <%=link_to("Create Page", new_page_path(:subject_id => @subject.id), :class => "action new")%>

        <table class="listing" summary="Page List">
            <tr class="header">
                <th>#</th>
                <th>Page</th>
                <th>Visible</th>
                <th>Link</th>
                <th>Sections</th>
                <th>Parent Subject</th>
                <th>Actions</th>
            </tr>
            <%@pages.each{ |page|%>
                <tr>
                <td><%=page.position%></td>
                <td><%=page.name%></td>
                <td class="center"><%=status_tag(page.visible)%></td>
                <td><%=page.permalink%></td>
                <td class="center"><%=page.sections.size%></td>
                <td class="center"><%=page.subject_id%></td>
                <td class="actions">
                    <%=link_to("Show", page_path(page, :subject_id = @subject.id), :class=>"action new") %>
                    <%=link_to("Edit", edit_page_path(page, :subject_id = @subject.id), :class=>"action edit") %>
                    <%=link_to("Delete", delete_page_path(page, :subject_id = @subject.id), :class=>"action delete") %>
                </td>
            </tr>
        <%}%>
    </table>
</div>

