<%if !flash[:notice].blank?%>
    <div class=notice>
        <%=flash[:notice]%>
    </div>
<%end%>

<%= link_to("<<Back to list", pages_path, :class=>'back-link')%>

<div class="pages show">
    <h2>Show Page</h2>

    <table summary="Page Detail View">
        <tr>
            <th>Page</th>
            <td><%=@page.name%></td>
        </tr>

        <tr>
            <th>Position</th>
            <td><%=@page.position%></td>
        </tr>

        <tr>
            <th>Visible</th>
            <td><%=@page.visible ? "Yes" : "No" %></td>
        </tr>

        <tr>
            <th>Parent Subject Id</th>
            <td><%=@page.subject_id %></td>
        </tr>
        
        <tr>
            <th>Permalink</th>
            <td><%=@page.permalink%></td>
        </tr>

        <tr>
            <th>Sections</th>
            <td><%= @page.sections.size%></td>
        </tr>
        
        <tr>
            <th>Created At</th>
            <td><%=@page.created_at%></td>
        </tr>

        <tr>
            <th>Updated At</th>
            <td><%=@page.updated_at%></td>
        </tr>

    </table>
</div>

